
/*el comienzo del inicio y códigos genéricos*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:rgba(23, 21, 21, 0.875);
}
@media  screen and (max-width :400px)
    
   { body {
    background-color:rgb(160, 68, 83) ;
     }

   
    }

/*arranco con grilla desktop first e muestras*/






        


 header {
background-image:url(../img/fondo.jpg) ;
background-size: cover;
background-attachment:fixed;
background-repeat:no-repeat ;
justify-content: center;

}




h1 {
    color:blanchedalmond;

margin-top :5rem; 
margin-bottom:5rem ;
display:flex;
justify-content: center;

}




h2 {
    color:rgb(222, 170, 179);
    display:flex;
    justify-content: center;
   
}

h3 {
    color:rgb(222, 170, 179); ;
}

p {
    color: blanchedalmond;
}


.menu { 
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
   margin-right:2.5rem;
   text-decoration: none;
   list-style: none;
    
    }
    
    li a {
        color:rgb(243, 208, 214);
       text-decoration: none;
       list-style: none
       
       
    }

    @media screen and (max-width :400px) {
        
    .navegacion {
    display: flex;
    flex-direction:column;
   }
    }
    

    .video-escuela {
        width:1000px ;
        height:600px;
       
    }
    @media screen and (max-width :400px) {
        .video-escuela {
            width:350px;
            height:330px;
        }
        
     }

   
.fuente-media {

    font-size: 30px;
    color:rgb(243, 208, 214) ;

   
  
    
    }
 
    #escribe-formulario {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #sobre-escuela {
        background-image: linear-gradient(to left , pink,grey);
    }
 

     /*empieza clases prueba*/
     @media screen and (max-width:460px)
     {
        .foto-clase {
            width: 320px ;
          }
        
        table {
            display:flex;
            flex-wrap:nowrap;
        }
     }

   
      /*muestras empieza*/

    

 


  
 


.card-muestra{
  width:250px ;
  height:500px;
margin-bottom:50px ;


}
.foto-muestra {
    width: 337px;
}
.video-muestra{
    width: 337px;
}






.tienda {
    
    background-image:linear-gradient(to left ,grey, rgb(226, 96, 117)) ;
    border:solid 2px rgb(245, 245, 245)
    
}

.footer 
 { 
    
    background-color: rgb(215, 106, 236);

    height:350px ;
 }

 .caja-tienda {
    border:solid 2px rgb(245, 245, 245)
    
  }
  .caja-tienda {
    
   
    background-image:linear-gradient(to left ,grey, rgb(226, 96, 117)) ;
  }
/*muestras dispositivos medianos */
  
@media screen and (max-width :768px) {
    .galeria {
    
       width:348px;
     
   
     }

}


/*media querie para dispositivos pequeños muestras  */
 
 /*tienda*/
 @media screen and (max-width: 460px) {

 
    .tienda {
      width:318px ;
      
    }
    .card-muestra{
      width:181px ;
      }
  
  }